[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twilio = "==6.10.0"
requests = "==2.18.4"
Flask-BasicAuth = "==0.2.0"
Flask = "==0.12.2"
Flask-Table = "==0.5.0"

[dev-packages]

[requires]
python_version = "3.6"
